@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*Fontes padrões do site*/
    text-align: justify;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

body, html {
    background-color: #1C1C1C;
    background-image: linear-gradient(to top #1C1C1C, #0e0d0d);
    height: 100vh;
    width: 100vw;
    color: #FFFCEF;
}

header {
    background-color: rgb(202, 16, 16);
    padding: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    width: 100vw;
}

header > h1 {
    text-align: center;
}

nav {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    color: white;
    text-decoration: none;
    padding: 14.6px;
}

nav > a:hover {
    background-color: white;
    color: black;
    border-radius: 3.5px;
    transition-duration: 1s;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#quadro1 {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(50%, -50%);
    overflow: hidden; /*Tudo que estiver fora da borda vai ficar escondido*/

    background-color: rgb(51, 51, 51);
    width: 250px;
    height: 410px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

section#bloco1 {
    position: absolute;
    top: 18%;
    left: 12%;
    overflow: hidden;

    background-color: rgb(51, 51, 51);
    width: 520px;
    height: 408px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

section#bloco2 {
    position: absolute;
    top: 112%;
    left: 50%;
    overflow: hidden;

    background-color: rgb(51, 51, 51);
    width: 520px;
    height: 411.7px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

section#bloco3 {
    position: absolute;
    top: 214%;
    left: 10%;
    overflow: hidden;

    background-color: rgb(51, 51, 51);
    width: 520px;
    height: 408px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}


section#quadro1 > div#imagem1 {
    display: block;
    background: rgb(34, 34, 34) url(../imagens/Blox_Fruitslogo.png) no-repeat;
    background-size: 260px; /*Isso fez a imagem ficar dentro da caixa exibindo o tamanho que eu queria*/
    height: 200px;
    width: 260px;
    background-position: center center;
    background-repeat: no-repeat;
}

section#quadro1 > div#conteudo1 {
    display: block;
    padding: 10px;
}

section#bloco1 > div#cont1 > h2 {
    text-align: center;
    display: block;
    padding: 10px;

    background-color: rgb(204, 14, 14);
}

section#bloco1 > div#cont1 > p {
    text-align: justify;
    display: block;
    padding: 10px;
    margin: 5px;
}

div.contimg1 > img {
    position: absolute;
    top: 38%;
    left: 25%;
}

section#quadro2 {
    position: absolute;
    top: 80%;
    right: 61%;
    transform: translate(-50%, 50%);
    overflow: hidden;

    background-color: rgb(51, 51, 51);
    width: 250px;
    height: 410px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

section#quadro2 > div#imagem2 {
    display: block;
    background: #1F1E23 url(../imagens/LogoSHG.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center center;
}

section#quadro2 > div#conteudo2 {
    display: block;
    padding: 10px;
}

section#bloco2 > div#cont2 > h2 {
    text-align: center;
    display: block;
    padding: 10px;

    background-color: rgb(135, 0, 161);
}

section#bloco2 > div#cont2 > p {
    text-align: justify;
    display: block;
    padding: 10px;
    margin: 5px;
}

div.contimg2 > img {
    position: absolute;
    top: 50%;
    left: 29%;
}

section#quadro3 {
    position: absolute;
    top: 150%;
    right: 21%;
    transform: translate(50%, 100%);
    overflow: hidden;

    background-color: rgb(51, 51, 51);
    width: 250px;
    height: 410px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

section#quadro3 > div#imagem3 {
    display: block;
    background: #7386ff url(../imagens/LuffyImagem3f.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: top top;
}

section#quadro3 > div#conteudo3 {
    display: block;
    padding: 10px;
}

section#bloco3 > div#cont3 > h2 {
    text-align: center;
    display: block;
    padding: 10px;

    background-color: rgb(17, 104, 235)
}

section#bloco3 > div#cont3 > p {
    text-align: justify;
    display: block;
    padding: 10px;
    margin: 5px;
}

div.contimg3 > img {
    position: absolute;
    top: 58%;
    left: 25%;
}

.container {
    position: absolute;
    top: 320%;
    right: 37%;

    width: 387px;
    margin: 0 auto;
}

.box h2 {
    text-align: center;
}

.conteudo-tabela {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 20px;
}

.conteudo-tabela th, .conteudo-tabela td {
    border: 1px solid #ccc;
    padding: 10px;
}

.imgNome {
    display: block;
    margin: auto;

    max-width: 50px;
    max-height: 50px;
}

footer > div#footerbox1 {
    position: absolute;
    top: 670%;
    left: 51%;
    overflow: hidden;

    background-color: rgb(51, 51, 51);
    color: white;
    width: 50vw;
    height: 411.7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

div#footerbox1 > h2 {
    text-align: center;
    padding: 14px;

    background-color: rgb(17, 104, 235);
}

div#footerbox1 > p#txtf1 {
    text-align: justify;
    padding: 25px;
}

p#msg1 {
    position: absolute;
    top: 70%;
    left: 63%;
}

div#footerbox1 > a > img#socimg1 {
    position: absolute;
    left: 87%;
    top: 80%;

    width: 50px;
    height: 50px;
}

div#footerbox1 > a > img#socimg2 {
    position: absolute;
    left: 78.7%;
    top: 80.3%;

    width: 47px;
    height: 47px;
}

footer > div#footerbox2 {
    position: absolute;
    top: 670%;
    overflow: hidden;

    background-color: rgb(51, 51, 51);
    color: white;
    width: 50.331vw;
    height: 411.7px;
}

div#footerbox2 > h2 {
    text-align: center;
    padding: 14px;

    background-color: rgb(135, 0, 161);
}

div#footerbox2 > p#txtf2 {
    text-align: justify;
    padding: 25px;
}

div#footerbox2 > p#Ass {
    text-align: center;
    padding-top: 18px;
}